@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte-destaque: 'Bebas Neue', sans-serif; 
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #c5ebd6;
    font-family: Arial, Helvetica, sans-serif;
}

a.externo::after {
    content: '\00A0\1F517';
    color: #1a5c37;
}

header {
    background-image: linear-gradient(to top, #063d1e, #2fa866);
    min-width: 150px;
    padding-top: 40px;
    text-align: center;
    color: white;
    
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.459);
}

header > p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 30px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.459);
}
nav {
    background-color: #063d1e;
    padding: 5px;
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.253);
}
nav > a {
    color: #83e1ad;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    transition-duration: .5s;
}

nav > a:hover { 
    background-color: #1a5c37;
    color: #063d1e;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.452);
    
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
main img {
    width: 100%;
    
}

main > h1 {
    color: #063d1e;
    font-family: var(--fonte-android);
}

main > h2 {
     font-family: var(--fonte-android);
     color: #1a5c37;
     font-size: 1.2em;
     background-image: linear-gradient(to right, #83e1ad, transparent);
     text-indent: 8px;
}

main  p {
    text-align: justify;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 1.5em;
}

main strong { 
    color: #063d1e;
}

main a { 
    text-decoration: none;
    font-weight: bold;
    color: #1a5c37;
    background-color: #3ddc84;
}

main a:hover {
    text-decoration: underline;
    color: #2fa866;
}

main.pequeno {
    display: block;
    max-width: 300px;
    margin: auto;
}

div.video{
    background-color: #063d1e;
    padding: 20px;
    margin: 0px -20px 30px -20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}

aside {
    background-color: #2fa866;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.349);
}

aside > h3 {
    color: #ffffff;
    background-color: #063d1e;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}


footer {
    background-color: #063d1e; 
    color: white;
    padding: 3px;
    text-align: center;
}
footer  a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #1a5c37;
}